<a href="https://colab.research.google.com/github/CodeWithSridhar/Innomatics-Internship/blob/main/Task2_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List Comprehensions

In [ ]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    l= list()
    for i in range(x+1):
        for j in range(y+1):
            for k in range(z+1):
                if (i+j+k != n):
                    l.append([i,j,k])
    print(l)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

## Nested Lists

In [ ]:
n=int(input())
res=[]
grade=[]
for i in range(n):
    name=input()
    marks=float(input())
    res.append([name,marks])
    grade.append(marks)
grade=sorted(set(grade))
a=grade[1]
name=[]
for val in res:
    if a==val[1]:
        name.append(val[0])
name.sort()
for nme in name:
    print(nme)

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

## Find the Runner-Up Score!

In [ ]:
n = int(input())
arr = list(map(int, input().split()))
arr.sort()
print(arr[arr.index(max(arr))-1])

5
2 3 6 6 5
5

## Tuples

In [ ]:
n = int(input())
t = tuple(map(int, input().split()))
print(hash(t))

2
1 2
3713081631934410656

## Finding the percentage

In [ ]:
n = int(input())
student_marks = {}
for _ in range(n):
  name, *line = input().split()
  scores = list(map(float, line))
  student_marks[name] = scores
query_name = input()
marks = student_marks[query_name]
print(format(sum(marks)/len(marks),'.2f'))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

## Introduction to Sets

In [ ]:
def average(array):
    average = sum(set(arr))/len(set(arr))
    return average

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

## No Idea!

In [ ]:
a=input().split(' ')
l=([int(i) for i in input().split(' ')])
firstset=set([int(i) for i in input("Enter Set A: ").split(' ')])
secondset=set([int(i) for i in input("Enter Set B: ").split(' ')])
p=0
for i in l:
    if i in firstset:
        p+=1
    if i in secondset:
        p-=1
print(f'happiness meter is: {p}')

3 2
1 5 3
Enter Set A: 3 1
Enter Set B: 5 7
happiness meter is: 1

## Symmetric Difference

In [ ]:
m= int(input())
m_set= set(map(int,input().split()))
n = int(input())
n_set= set(map(int,input().split()))

m_difference_n = m_set.difference(n_set)
n_difference_m = n_set.difference(m_set)

result = list(m_difference_n) + list(n_difference_m)
sorted_result = sorted(result)

print(*sorted_result,sep = '\n')

4
2 4 5 9
4
2 4 11 12
5
9
11
12

## Set .add()

In [ ]:
n= int(input())
set_1 = set()
for i in range(n):
    set_1.add(input())
print(len(set_1))

7
UK
China
USA
France
New Zealand
UK
France
5

## Set .union() Operation

In [ ]:
en= int(input("Number of students: "))
english= set(map(int,input("Roll num Seperated by space: ").split()))

fr= int(int(input("Number of students: ")))
french= set(map(int,input("Roll num seperated by space: ").split()))

print(len(english.union(french)))

Number of students: 9
Roll num Seperated by space: 1 2 3 4 5 6 7 8 9
Number of students: 9
Roll num seperated by space: 10 1 2 3 11 21 55 6 8
13

## Set .discard(), .remove() & .pop()

In [ ]:
n = int(input())
s = set(map(int, input().split()))
for i in range(int(input())):
    inp= input()
    if inp == "pop":
        s.pop()
    else:
        command , value = inp.split()
        if command == "discard":
            s.discard(int(value))
        else:
            s.remove(int(value))
print(sum(s))

9
 1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

## Set .intersection() Operation

In [ ]:
eng = int(input())
roll_eng = set(map(int,input().split()))

french = int(input())
roll_french = set(map(int,input().split()))

print(len(roll_eng.intersection(roll_french)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

## Set .difference() Operation

In [ ]:
eng= int(input())
roll_eng= set(map(int, input().split()))

french= int(input())
roll_french= set(map(int, input().split()))

print(f'Number of students who are subscribed to the English newspaper only : {len(roll_eng.difference(roll_french))}')

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
Number of students who are subscribed to the English newspaper only : 4

## Set .symmetric_difference() Operation

In [ ]:
_,a = input(),set(input().split())
_,b = input(),set(input().split())

print(len(a.symmetric_difference(b)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

## The Captain's Room

In [1]:
k= int(input())
lst= list(map(int,input().split()))

s1= set() #unique room list
s2= set()  #room num which appear more than once

for i in lst:
    if i in s1:
        s2.add(i)
    else:
        s1.add(i)
        
s = s1.difference(s2)
print(*s)

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

## Check Subset

In [2]:
for _ in range(int(input())):
    x,a,z,b = input(), set(input().split()), input(), set(input().split())
    print(a.issubset(b))

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

## Check Strict Superset

In [3]:
a = set(input().split())
print(all(a>set(input().split()) for _ in range(int(input()))))

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False