<a href="https://colab.research.google.com/github/CodeWithSridhar/Innomatics-Internship/blob/main/Task1_Basic_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Print Hello, World! to stdout.

In [2]:
#Solution
print("Hello, World!")

Hello, World!

## 2. Python If-Else
 Given an integer n, perform the following conditional actions:

    If n is odd, print Weird.

    If n is even and in inclusive range of 2 to 5, print Not Weird

    If n is even and in the inclusive range of 6 to 20, print Weird

    If n is even and greater than 20, print Not Weird

In [12]:
#Solution
n= int(input("Enter the number: "))
if n % 2 != 0:
  print("Weird")
elif n%2 == 0 and 2<= n>= 5:
  print('Not Weird')
elif n%2==0 and 6<=n>=20:
  print('Weird')
elif n%2==0 and n>20:
  print('Not Weird')
else:
  print("Enter the number again")

Enter the number: 65
Weird

## 3. Arithmetic Operators

    The provided code stub reads two integers from STDIN, a and b. Add code to print three lines where:

    The first line contains the sum of the two numbers.
    The second line contains the difference of the two numbers (first - second).
    The third line contains the product of the two numbers.

In [16]:
#Solution
a = int(input("Enter the number: "))
b = int(input("Enter the number: "))

sum= a+b
difference= a-b
product= a*b

print(f'The sum is: {sum}')
print(f'The difference is: {difference}')
print(f'The product is {product}')

Enter the number: 3
Enter the number: 2
The sum is: 5
The difference is: 1
The product is 6

## 4. Division

    The provided code stub reads two integers, a and b, from STDIN.

    Add logic to print two lines. 
    The first line should contain the result of integer division, a // b. 
    The second line should contain the result of float division, a / b.
    No rounding or formatting is necessary.

In [21]:
# Solution
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))

print(f'The result in integer: {(a//b)}')
print(f'The result in float: {float(a/b)}')

Enter first number: 10
Enter second number: 3
The result in integer: 3
The result in float: 3.3333333333333335

## 5. Loops
    The provided code stub reads and integer,N, from STDIN. 
    For all non-negative integers i < n, print (n)^2.
    Constraints : 1 <= N <= 20

In [22]:
# Solution
n = int(input('Enter the number: '))
for i in range(n):
  result= i**2
  print(result)

Enter the number: 5
0
1
4
9
16

## 6. Write a function

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

    The year can be evenly divided by 4, is a leap year, unless:
        The year can be evenly divided by 100, it is NOT a leap year, unless:
            The year is also evenly divisible by 400. Then it is a leap year.

This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years

    Given a year, determine whether it is a leap year. 
    If it is a leap year, return the Boolean True, otherwise return False.
    Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. 
    It is only necessary to complete the is_leap function.

In [33]:
# Solution
def leap_year(year):
  if year % 4 == 0:
    return True
  if year % 100 == 0:
    return False
  if year % 400 == 0:
    return True
  return False

leap_year(2031)

False

## 7. Print Function

The included code stub will read an integer,n, from STDIN. 
Without using any string methods, try to print the following: 1234...n

Note that "...." represents the consecutive values in between.

In [34]:
n= int(input('Enter the number: '))
for i in range(1,n+1):
  print(i, end='')

Enter the number: 5
12345