<a href="https://colab.research.google.com/github/CodeWithSridhar/Innomatics-Internship/blob/main/Task2_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List Comprehensions

In [1]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    l= list()
    for i in range(x+1):
        for j in range(y+1):
            for k in range(z+1):
                if (i+j+k != n):
                    l.append([i,j,k])
    print(l)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

## Nested Lists

In [2]:
n=int(input())
res=[]
grade=[]
for i in range(n):
    name=input()
    marks=float(input())
    res.append([name,marks])
    grade.append(marks)
grade=sorted(set(grade))
a=grade[1]
name=[]
for val in res:
    if a==val[1]:
        name.append(val[0])
name.sort()
for nme in name:
    print(nme)

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

## Find the Runner-Up Score!

In [6]:
n = int(input())
arr = list(map(int, input().split()))
arr.sort()
print(arr[arr.index(max(arr))-1])

5
2 3 6 6 5
5

## Tuples

In [7]:
n = int(input())
t = tuple(map(int, input().split()))
print(hash(t))

2
1 2
3713081631934410656

## Finding the percentage

In [9]:
n = int(input())
student_marks = {}
for _ in range(n):
  name, *line = input().split()
  scores = list(map(float, line))
  student_marks[name] = scores
query_name = input()
marks = student_marks[query_name]
print(format(sum(marks)/len(marks),'.2f'))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

## Introduction to Sets

In [10]:
def average(array):
    average = sum(set(arr))/len(set(arr))
    return average

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

## No Idea!

In [13]:
a=input().split(' ')
l=([int(i) for i in input().split(' ')])
firstset=set([int(i) for i in input("Enter Set A: ").split(' ')])
secondset=set([int(i) for i in input("Enter Set B: ").split(' ')])
p=0
for i in l:
    if i in firstset:
        p+=1
    if i in secondset:
        p-=1
print(f'happiness meter is: {p}')

3 2
1 5 3
Enter Set A: 3 1
Enter Set B: 5 7
happiness meter is: 1

## Symmetric Difference

In [14]:
m= int(input())
m_set= set(map(int,input().split()))
n = int(input())
n_set= set(map(int,input().split()))

m_difference_n = m_set.difference(n_set)
n_difference_m = n_set.difference(m_set)

result = list(m_difference_n) + list(n_difference_m)
sorted_result = sorted(result)

print(*sorted_result,sep = '\n')

4
2 4 5 9
4
2 4 11 12
5
9
11
12

## Set .add()

In [15]:
n= int(input())
set_1 = set()
for i in range(n):
    set_1.add(input())
print(len(set_1))

7
UK
China
USA
France
New Zealand
UK
France
5